{% extends 'base.html' %}
{% block main_content %}
    <!-- Main Content -->
    <!--Create Page-->
    <section class="createPage">
        <form action="{% url 'add-album' %}" method="post">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">
                    {{ form }}
                    <!-- Button for Adding Album -->
                    <button class="add-album" type="submit">Add New Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>

        </form>
    </section>
{% endblock %}

